{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <div class="container">

<br><br><br>
  {% for object in object_list %}
  <table border = "1">
    <th> Course </th>
    <th>{{ object.course_name }}</th>
    <tbody>
      <th> Instructor Name </th>
      <td>{{ object.instructor_name }}</td>
      <th> Course Date </th>
      <td>{{ object.day }}</td>
      <th> Course Time </th>
      <td>{{ object.from_hour }} to {{ object.to_hour }}</td>
      <th> Course Location</th>
      <td>{{ object.location }}</td>
    </tbody>
  </table>
  {% if request.user == object.instructor_name %}
    <a href="{% url 'schedule:update' object.pk %}"><button type="button" class='btn btn-primary' name="button">Update</button></a>
    <a href="{% url 'schedule:delete' object.pk %}"><button type="button" class='btn btn-danger' name="button">Delete</button></a>
  {% endif %}
  <br><br><br><hr>
  {% endfor %}
  </div>


{% endblock %}
